.container {
    display:flex;
    justify-content: center;
    gap:30px;
}
.card {
    width: 16rem;
    height: 360px;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    overflow:hidden;
} 
.card img {
    width: 100%;
    height: 200px;
    display:block;
}

         .btn-grad {background-image: linear-gradient(to right, #1D2B64 0%, #F8CDDA  51%, #1D2B64  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
          .container2{
            display:flex;
            justify-content: center;
            gap:20px;
            margin-top:20px;
          }
          .iklan {
    width: 32rem;
    border-radius: 15px;
    overflow:hidden;
} 
.iklan img {
    width: 100%;
    height: 200px;
    display:block;
}
.category {
    width: 5rem;
    border-radius: 100%;
    overflow:hidden;
} 
.category img {
    width: 100px;
    display:block;
}